@CHARSET "UTF-8";

body {
	font-family: Arial,Verdana,Tahoma,Sans-Serif;
	font-size: 12px;
}

h1 {
	page-break-before: always;	
}

article {
	page-break-inside: always;
}

@media print {
    p {
     page-break-inside: avoid;
    } 
} 

#pattern-name-list {
	-moz-column-width: 20em; 
	-webkit-column-width: 20em; 
	column-width: 20em;
}

// TODO: не работает
h1 h2 h3 {
	margin-top : 0;
}

#full-view h2 {
	page-break-before: always;
}

#pattern-desc_section {
	-moz-column-width: 20em; 
	-webkit-column-width: 20em; 
	column-width: 20em;
}

#pattern-desc_section p {
	margin-top : 0;
}

// TODO: не работает
#pattern-desc_section p:first-line {
	margin-left: 1em;
	
}



