@CHARSET "UTF-8";

body {
	font-family: Arial,Verdana,Tahoma,Sans-Serif;
	font-size: 12px;
}

article {
	page-break-inside: avoid;
	display:block;
}

#pattern-name-list-view {
	-moz-column-width: 20em; 
	-webkit-column-width: 20em; 
	column-width: 20em;
}

#full-view h2 {
	page-break-before: always;
}

#pattern-desc_section {
	-moz-column-width: 20em; 
	-webkit-column-width: 20em; 
	column-width: 20em;
}

#pattern-desc_section p {
	margin-top : 0;
}

#pattern-desc_section p:first-line {
	margin-left: 1em;
	
}



